.menu {
   float: right;
   margin-top: 8px;
}
.menu li {
   display: inline;
}
.menu li + li {
   margin-left: 35px;
}
.menu li a {
   color: #656e9c;
   text-decoration: none;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #5f5e8f;
}


header {
   background-color: #290e2b;
   height: 35px;
   width: 100%;
   opacity: .9;
   margin-bottom: 10px;
}
header h1.logo {
   margin: 0;
   font-size: 1.7em;
   color: #dfdfff;
   text-transform: uppercase;
   float: left;
}
header h1.logo:hover {
   color: #daffff;
   text-decoration: none;
}


.container {
   width: 940px;
   margin: 0 auto;
}
div.jumbo {
   padding: 10px 0 30px 0;
   background-color: #eeeeee;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
}
h2 {
   font-size: 3em;
   margin-top: 40px;
   text-align: center;
   letter-spacing: -2px;
}
h3 {
   font-size: 1.7em;
   font-weight: 100;
   margin-top: 30px;
   text-align: center;
   letter-spacing: -1px;
   color: #999;
}

#number-projects-nd {
   font-size: 60px;
}

#total-donations-nd {
   font-size: 60px;
}




.dc-chart g.row text {
   fill: #0f1b57;
   font-size: 12px;
}

#total-projects {
   background: #69bebe;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: #eadfff;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}

#net-donations {
   background: #7db5d7;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: #f4ecff;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}


.dc-select-menu {
   background: #6cb2d6;
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: #fceeff;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;

}

.intro_button {
    border: #2247ff dashed;
}