{% extends "index.html" %}
{% block content %}
   <div class="jumbo">
       <h2>Arkansas Governor Election Campaign</h2>
       <h3>School Funding Crisis</h3>
   </div>
    <div class="container">
        <p>As shown by the graphs, the lack of school funding in the state of Arkensaw has reached a new low. The children in our state are attending schools which are dangerously underfunded. Our children are receiving a sub-par education compared to those in other states. Action needs to be taken to increase the funding to schools to help our children to achieve their maximum potential. I propose to increase the funding to the schools in Arkensas and if I am elected governor of Arkensas I will do everything in my power to improve the education system to give all children a fair chance of academic success. I propose to increase the funding by 5% of in my first year of office, increasing to 15% in the second year, 20% in the third year and 25% in the fourth year. A vote for me is a vote for the children.</p>
    </div>
{% endblock %}