<!DOCTYPE html>
<html>
<head>
  <title>School Donations Dashboard</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
</head>
<body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container-fluid">
       <div class="navbar-header">
           <a class="navbar-brand" href="./">School Donations Dashboard</a>
       </div>
   </div>
</div>

<div class="masthead">
   <h1 class="logo">Arkansas State Governor Election - School Funding Crisis</h1>
   <strong><nav>
     <ul class="nav nav-pills pull-right">
         <li><a href="{{ url_for('home') }}">Election Campain Plea</a></li>
         <li><a href="{{ url_for('graphs') }}">School Donations Graphs</a></li>
     </ul>
   </nav></strong>
 </div>
<div class="container">
   {% block content %}
   {% endblock %}
</div>
<script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>

<script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
<script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
<script src="js/intro.js" type="text/javascript"></script>
</body>
</html>